<!DOCTYPE html>
<html ng-app="app">
<meta charset="utf-8">
    <head>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="js/angular1.2.js"></script>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="js/underscore.js" type="text/javascript"></script>
    <script src="angular.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/truncate.js"></script>

    <title>Desafio</title>

    <style type="text/css" media="screen">
      .well {
        height: 200px;
      }
    </style>
</head>
<body ng-controller="PostsController">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h2>Favoritos ({{(posts|filter:favorito).length}})</h2>
      </div>
      <div class="col-md-3" ng-repeat="post in posts | filter:favorito" ng-cloak>
        <div class="well">
          <strong title="{{post.data.title}}">{{post.data.title|characters:maxChars}}</strong>
          <img src="{{post.data.thumbnail}}" alt="" />
          <br>
          <small>Ups: {{post.data.ups}}</small>
          <br>
          <small>Downs: {{post.data.downs}}</small>
          <button ng-click="post.favorito = 0" class="btn btn-md btn-danger">Unfav</button>
        </div>
      </div>
      <div class="col-md-12 text-center" ng-show="(posts|filter:favorito).length == 0">
        <span class="text-muted">Nenhum post favorito</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h2>Posts ({{(posts|filter:naoFavorito).length}})</h2>
      </div>
      <div class="col-md-3" ng-repeat="post in posts | filter:naoFavorito" ng-cloak>
        <div class="well">
          <strong title="{{post.data.title}}">{{post.data.title|characters:maxChars}}</strong>
          <a href="{{post.data.url}}" target="_blank">
            <img src="{{post.data.thumbnail}}" alt="" />
          </a>
          <br>
          <small>Ups: {{post.data.ups}}</small>
          <br>
          <small>Downs: {{post.data.downs}}</small>
          <br>
          <button ng-click="post.favorito = 1" class="btn btn-md btn-success">Fav</button>
        </div>
      </div>
      <div class="col-md-12 text-center" ng-show="(posts|filter:naoFavorito).length == 0">
        <span class="text-muted">Nenhum post favorito</span>
      </div>
    </div>
  </div>
</body>
</html>



<script type="text/ng-template" id="template.html">

</script>
